.btn {
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  height: 40px;
  transition: all 0.3s;
  background-color: #1d9980;
  cursor: pointer;
  border-radius: 3px;

  &:disabled {
    cursor: pointer;
    background-color: #ccc;
    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}
